<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de notas Alunos</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet"/>

    <link href="../static/non-responsive.css" rel="stylesheet"/>

    <link href="../static/estilo.css" type="text/css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


<div id="wrapper">

    <h1>Sistema de notas Alunos</h1>


    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th><span>Id</span></th>
            <th><span>Nome</span></th>
            <th><span>Sobre nome</span></th>
            <th><span>Ano escolar</span></th>
            <th><span>Idade</span></th>
            <th><span>Primeira nota</span></th>
            <th><span>Peso da primeira nota</span></th>
            <th><span>Segunda nota</span></th>
            <th><span>Peso da segunda nota</span></th>
            <th><span>Terceira nota</span></th>
            <th><span>Peso da terceira nota</span></th>
            <th><span>Ações</span></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="estudante: ${estudantes}">
            <td th:text="${estudante.Id}">Id</td>
            <td class="lalign" th:text="${estudante.nome}">Nome</td>
            <td class="lalign" th:text="${estudante.sobreNome}">Sobre Nome</td>
            <td th:text="${estudante.anoEscolar}">Ano escolar</td>
            <td th:text="${estudante.idade}">Idade</td>
            <td th:text="${estudante.primeiraNota}">Primeira nota</td>
            <td th:text="${estudante.pesoPrimeiraNota}">Peso primeira nota</td>
            <td th:text="${estudante.segundaNota}">Segunda nota</td>
            <td th:text="${estudante.pesoSegundaNota}">Peso segunda nota</td>
            <td th:text="${estudante.terceiraNota}">Terceira nota</td>
            <td th:text="${estudante.pesoTerceiraNota}">Peso terceira nota</td>
            <td>
                <a th:href="@{'/editar/'+ ${estudante.id}}" class="button green"><span><i class="fa fa-edit"></i></span></a>

                <a th:href="@{'/deletar/'+ ${estudante.id}}" class="button red"><span><i class="fa fa-trash"></i></span></a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<div class="custom-btn btn-1">
    <a href="novo">Cadastrar novo estudante</a>
</div>
</body>
</html>